@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-background: #121212;
    --color-gray: #323232;
    --color-gray-two: #9a9a9a7e;
    --color-white: #FFFFFF;
    --color-white-two: #ffffffb3;
    --color-red: #FE0000;
    --font-primary: "Inter", sans-serif;
    --font-secundary: "Montserrat", sans-serif;
}