@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-background: #121212;
    --color-gray: #323232;
    --color-white: #FFFFFF;
    --color-red: #FE0000;
    --font-primary: "Inter", sans-serif;
}