@import url(../var.css);

.mySwiper{
    color: white;
    position: relative;
    left: -30px;
    right: -30px;
    width: calc(100% + 60px);
    margin-bottom: 15px;
}

.swiperSlide{
    height: 100%;
    padding: 0px 15px 35px;
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-family: var(--font-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.swiperSlide-img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 9/16;
    border-radius: 15px;
}

.swiperSlide-title{
    margin-top: 5px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.swiperSlide-genre{
    color: var(--color-gray-two);
}

.swiper-pagination-bullet{
    background-color: var(--color-white);
    opacity: 1;
}

.swiper-pagination-bullet-active{
    width: 30px;
    border-radius: 10px;
    background-color: var(--color-red);
}