@import url(../var.css);

.footer-container{
    color: white;
    position: relative;
    left: -30px;
    right: -30px;
    width: calc(100% + 60px);
    padding: 30px 20px;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    justify-content: center; /* Centra horizontalmente los elementos hijos */
    align-items: center;
    background: linear-gradient(to right, #232323, #161616);
    border-radius: 15px;
    font-family: var(--font-ternary);
    color: var(--color-gray-two);
}

.footer-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-item-active{
    color: var(--color-red);
}