@import url(../var.css);

.footer-container{
    color: white;
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0px;
    width: calc(100%);
    padding: 30px 20px;
    z-index: 1000;

    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    justify-content: center; /* Centra horizontalmente los elementos hijos */
    align-items: center;

    background: linear-gradient(to right, #232323, #161616);
    border-radius: 15px;
    outline: 1px solid var(--color-white-three);

    font-family: var(--font-ternary);
    color: var(--color-gray-four);
    font-size: .75em;
}

.footer-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-item-active{
    color: var(--color-red);
    font-weight: bold;
}