@import url(../var.css);

body{
    background-color: var(--color-background);
}

.index-container{
    width: 100vw;
    padding: 30px 30px 90px;
    position: relative;
    background: var(--color-background);
    display: flex;
    flex-direction: column;
}
