@import url(../var.css);

.movieDescription-container{
    width: 100vw;
    padding: 30px 30px;
    background-color: var(--color-background);
    color: var(--color-white);
    font-family: var(--font-primary);
}

.movieDescription-img{
    width: calc(100% + 30px);
    left: -15px;
    position: relative;
    aspect-ratio: 16/9;
    object-fit:cover;
    object-position: center 25%;
    border-radius: 25px;
    margin-top: 30px;
}

.movieDescription-info{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.movieDescription-info-text{
    
}

.movieDescription-info-title{

}

.movieDescription-info-genres{
    font-size: .7em;
}

.movieDescription-trailerButton{
    cursor: pointer;
    background-color: var(--color-red);
    color: var(--color-white);

    height: 30px;

    padding: 0px 10px;
    border: 0;
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: var(--font-ternary);
    font-size: .7em;
    gap: 8px;
}

.movieDescription-sipnosis{
    padding-top: 15px;
    text-align: left;
}

.movieDescription-sipnosis-text{
    font-size: .9em;
}

.movieDescription-cast{
    padding-top: 15px;
}

.movieDescription-cast-title{
    font-size: 1.3em;
    margin-bottom: 15px;
}

.movieDescription-actors-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    overflow-x: scroll;
}

.movieDescription-actor{
    width: 130px;
    display: grid;
    grid-template-columns: 50px 1fr;
}

.movieDescription-actor-img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
}

.movieDescription-actor-text{
    font-family: var(--font-ternary);
    font-size: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

.movieDescription-actor-name{
    
}

.movieDescription-actor-paper{
    font-weight: lighter;
}